@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: harryPotter;
  src: url(harrypotter.ttf);
}

.nav-li {
  font-family: harryPotter;
}
.right-section {
  /* width */
  &::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
  }
}
.right-section:hover {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: rgb(15, 23, 42);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #5e5d5d;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #464545;
    transition: all 5s ease-out;
  }
}

.active {
  border-bottom: 3px solid rgb(0, 189, 94);
  border-radius: 10%;
}
